

<section class="hero">

    <div class="hero-content">

        <h1 class="hero-title">
            Never Lose Your Music Again
        </h1>

        <button type="button" class="btn btn-secondary" onclick="location.href='tours.html'">
            Sign in
        </button>

    </div>

</section>
