

<section class="hero">

    <div class="hero-content">

        <h1 class="hero-title">
            Never Lose Your Music Again
        </h1>

        <a class="btn btn-secondary" href="/Identity/Account/Login">Sign In</a>

    </div>

</section>
